/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 1em;
  }
  
  
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .img{
    height: 100%;
   width: 100%;
   object-fit: contain;
   background-blend-mode: multiply;
  }
  .cat {
    height:200px;
   }
   .button{
    background-color: green; 
    border: none;
    color: white;
    padding: 4px 15px;
    text-align: center;
    margin: 2px 2px;
    cursor: pointer;
   }
   
   .button3{
    background-color:rgb(1, 139, 139);; 
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    margin: 2px 2px;
    cursor: pointer;
    
   }
   .addToCart{
    position: absolute;
    right: 20px;
   }
   .icon{
    position: relative;
    top: 20px;
    left: 20px;
   
    /* z-index: -1; */
   }
   
   .button1{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
   }
   
   /* Model CSS */

   body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}